.form-submit{
	text-align: center;
	margin-top: 0%;
	background-color: white;
	overflow: hidden;
	padding: 10px 10px;
}

.form-submit .label-form{
	margin-top: 10px;
	background-color: #ff0060;
	padding: 0px 10px 0px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 24;
	color: black;
}

.form-submit .input-form{
	margin-top: 10px;
	margin-bottom: 10px;
}

.result h1{
	background-color: #ff0060;
}
