.topnav {
  background-color: #f0f0f0;
  overflow: hidden;
  border-bottom:1px solid white;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: #ff0060;
  color: white;
}
